<div class="file-picker mt-5 p-2">
  <input type="file" (change)="handleFileInput($any($event.target).files)">
</div>
<div class="row mt-5">
  <div class="col-md-6">
    <app-list [fields]="data" [editAllowed]="true"></app-list>
  </div>
  <div class="col-md-6">
    <app-list [fields]="data1" [editAllowed]="false"></app-list>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-12 text-center">
    <button class="btn btn-primary m-3 p-1">Predict</button>
    <button class="btn btn-success m-3 p-1">Submit</button>
  </div>
</div>